[submodule "vim/vimfiles/bundle/vim-sensible"]
	path = vim/vimfiles/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/vimfiles/bundle/vim-commentary"]
	path = vim/vimfiles/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/vimfiles/bundle/nerdtree"]
	path = vim/vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vimfiles/bundle/vim-unimpaired"]
	path = vim/vimfiles/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/vimfiles/bundle/vimwiki"]
	path = vim/vimfiles/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "vim/vimfiles/bundle/ctrlp.vim"]
	path = vim/vimfiles/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
