[submodule "vim/vimfiles/bundle/vim-sensible"]
	path = vim/vimfiles/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/vimfiles/bundle/vim-commentary"]
	path = vim/vimfiles/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/vimfiles/bundle/nerdtree"]
	path = vim/vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vimfiles/bundle/vim-unimpaired"]
	path = vim/vimfiles/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/vimfiles/bundle/vimwiki"]
	path = vim/vimfiles/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "vim/vimfiles/bundle/ctrlp.vim"]
	path = vim/vimfiles/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/vimfiles/bundle/vim-easymotion"]
	path = vim/vimfiles/bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/vimfiles/bundle/unite.vim"]
	path = vim/vimfiles/bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "vim/vimfiles/bundle/vim-togglelist"]
	path = vim/vimfiles/bundle/vim-togglelist
	url = https://github.com/milkypostman/vim-togglelist.git
[submodule "vim/vimfiles/bundle/vim-sleuth"]
	path = vim/vimfiles/bundle/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "vim/vimfiles/bundle/sudo.vim"]
	path = vim/vimfiles/bundle/sudo.vim
	url = https://github.com/vim-scripts/sudo.vim.git
[submodule "vim/vimfiles/bundle/ack.vim"]
	path = vim/vimfiles/bundle/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/vimfiles/bundle/vim-colors-solarized"]
	path = vim/vimfiles/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/huyz/dircolors-solarized.git
