[submodule "vim/vimfiles/bundle/vim-sensible"]
	path = vim/vimfiles/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/vimfiles/bundle/vim-commentary"]
	path = vim/vimfiles/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/vimfiles/bundle/nerdtree"]
	path = vim/vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
